<div>
    <h2 id="page-heading">
        <span jhiTranslate="clubmasterApp.member.home.title">Members</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-member" [routerLink]="['/member/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="clubmasterApp.member.home.createLabel">
            Create a new Member
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="members?.length === 0">
        <span jhiTranslate="clubmasterApp.member.home.notFound">No members found</span>
    </div>
    <div class="table-responsive" *ngIf="members?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fname"><span jhiTranslate="clubmasterApp.member.fname">Fname</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="lname"><span jhiTranslate="clubmasterApp.member.lname">Lname</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dob"><span jhiTranslate="clubmasterApp.member.dob">Dob</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="addressId"><span jhiTranslate="clubmasterApp.member.address">Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="clubId"><span jhiTranslate="clubmasterApp.member.club">Club</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let member of members ;trackBy: trackId">
                <td><a [routerLink]="['/member', member.id, 'view' ]">{{member.id}}</a></td>
                <td>{{member.fname}}</td>
                <td>{{member.lname}}</td>
                <td>{{member.dob | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="member.addressId">
                        <a [routerLink]="['/address', member.addressId , 'view' ]" >{{member.addressId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="member.clubId">
                        <a [routerLink]="['/club', member.clubId , 'view' ]" >{{member.clubId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/member', member.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/member', member.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(member)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="members?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
